---
import Layout from '../layouts/Layout.astro';
import Banner from "../components/Banner.astro";
import Nav from "../components/Nav.astro";
import star3 from '../assets/star3.png'
import flecha from '../assets/flecha.png'
import calculadora from '../assets/calculadora.png'
import check from '../assets/check.png'
import {Image} from "astro:assets";
import se from '../assets/servicios_estrella.png'
import logo from '../assets/logo_blanco.png';
import estrellita from '../assets/estrellita.png';
import profesional from '../assets/transformamos.png'
import star1 from '../assets/star.png'
import elipse1 from '../assets/ellipse1.png'
import elipse2 from '../assets/ellipse2.png'
import mapaGps from '../assets/gps.png'
import arco from '../assets/ellipse3.png'
import star2 from '../assets/Star 2.png'
import viviana from '../assets/socia.png'
import contabilidad_y_cumplimiento from '../assets/contabilidad.png'
import asesoria_en_sociedades from '../assets/asesoria.png'
import aseesoria_tributaria from '../assets/tributaria.png'
import capacitacion from '../assets/capacitacion.png'
import fotoSocio from '../assets/salvador_maldonado.png'
import mercado_de_valores from '../assets/valores.png'

const servicios = [
	{
		titulo: "Contabilidad & Cumplimiento",
		icono: contabilidad_y_cumplimiento,
		items: ["Registración contable y estados financieros.", "Análisis de Estados Contables.", "Gestión de IVA, IRP y otros impuestos.", "Regularización contable y fiscal."]
	},
	{
		titulo: "Asesoría en Sociedades",
		icono: asesoria_en_sociedades,
		items: ["Gobierno Corporativo.", "Constitución de Sociedades.", "Fusiones y transformaciones.", "Asesoría a Directorio."]
	},
	{
		titulo: "Asesoría Tributaria",
		icono: aseesoria_tributaria,
		items: ["Planificación fiscal.", "Optimización de cargas tributarias.", "Asistencia ante fiscalizaciones.", "Interpretación de normativa vigente."]
	},
	{
		titulo: "Capacitación",
		icono: capacitacion,
		items: ["Contabilidad para no Contadores.", "Finanzas Personales.", "Leasing financiero y Leaseback en Paraguay.", "Negocios Fiduciarios.", "Gobierno Corporativo."]
	},
	{
		titulo: "Mercado de Valores",
		icono: mercado_de_valores,
		items: ["Asesoramiento en inversiones bursátiles.", "Registro y Control de Inversiones."]
	}
];
---

<Layout>
	<Banner/>

	<!--<section class="bg-gray-50 py-8 px-10 -mt-[585px] bg-transparent z-10 relative">
		<div class="flex items-center">
			<Image src={flecha} alt="Flecha" />

			<div class="flex flex-row justify-between w-full px-16">
				<div class="flex items-center justify-between gap-8">
					<h2 class="text-3xl md:text-[45px] text-lila-esco uppercase">
						Tu tranquilidad fiscal, <br /> <span class="font-bold">nuestro compromiso</span>
					</h2>
				</div>

				<a
					href="https://wa.me/TUNUMERO"
					target="_blank"
					class="border-2 border-lila-esco text-lila-esco px-16 md:text-[32px] py-6 rounded-full hover:bg-lila-esco hover:text-white transition-all"
				>
					Hablemos por <span class="font-bold">WhatsApp</span>
				</a>
			</div>
		</div>
	</section>-->

	<section class="bg-gray-50 py-8 px-10 -mt-[350px] bg-transparent z-10 relative">
		<div class="marg mx-auto flex items-center">
			<Image src={flecha} alt="Flecha" class="absolute  left-0"/>
		</div>
	</section>


	<section class="py-6 bg-lila-esco px-6 mt-11" id="nosotros">
		<div class="max-w-[1170px] text-justify mx-auto md:text-[24px]">
			<p class="text-white text-lg md:text-xl leading-relaxed font-light">
				<strong class="font-bold">ESCO - Estudio Contable S.R.L.</strong> nace a partir de la sólida trayectoria profesional de sus fundadores, quienes han desarrollado durante años una destacada labor en el asesoramiento contable, tributario y financiero a empresas de diversos sectores económicos.
				<strong class="font-bold">Su creación responde a la necesidad de ofrecer a personas, emprendedores y empresarios un acompañamiento técnico confiable, ético y orientado a resultados,</strong> sustentado en la experiencia acumulada de sus socios.
			</p>
		</div>
	</section>

	<section class="relative w-full py-20 flex items-center h-[1100px]">
		<div class="absolute left-20 top-0 h-full z-0 hidden md:block">
			<Image
				src={profesional}
				alt="Profesional contable"
				class="h-full w-auto object-right"
			/>
		</div>



		<div class="marg mx-auto relative z-10 w-full px-10 left-39 -top-[70px]">
			<div>
				<h1 class="text-[95px] uppercase leading-tight text-lila-esco relative">
					<span class="italic font-bold border-b-1">Transformamos</span> <br />
					<span class="italic border-b-1">Números en</span> <br />
					<span class="italic font-bold">Decisiones</span> <br />
					que <span class="italic font-bold">Hacen</span> <br />

					<span class="border-4 border-lila-esco pl-6 pr-11 py-2 rounded-full inline-flex items-center justify-start leading-none">
						<span class="italic font-bold">Crecer</span>
					</span>


				</h1>
			</div>


		</div>
		<Image
			src={star1}
			alt="star1"
			class="absolute -bottom-36 w-16 md:w-80"
		/>

		<Image
			src={star2}
			alt="star1"
			class="absolute right-0 -bottom-36 w-16 md:w-36"
		/>
	</section>



	<section class="py-20 px-6 bg-white">
		<div class="max-w-[1200px] text-lila-esco mx-auto w-full justify-items-center grid grid-cols-1 md:text-[20px] md:grid-cols-2 gap-16">
			<div class="flex flex-col gap-4">
				<h2 class="text-4xl font-semibold md:text-[60px] uppercase tracking-wide">Misión</h2>
				<p class="max-w-[500px]">Apoyar a las personas, emprendedores y empresas en su búsqueda de diferenciación competitiva, brindando servicios e información oportuna y de calidad para la toma de decisiones.</p>
			</div>
			<div class="flex flex-col gap-4">
				<h2 class="text-4xl font-bold uppercase md:text-[60px] tracking-wide">Visión</h2>
				<p class="max-w-[500px]">Ser una empresa modelo de prestación de servicios, reconocida por la calidad, agilidad y eficiencia, contribuyendo con valor agregado mediante el uso eficaz del conocimiento administrativo y la tecnología.</p>
			</div>
		</div>
	</section>

	<section class="relative w-full px-6 bg-white">
		<Image
			src={elipse1}
			alt="star1"
			class="absolute left-0 bottom-1 w-16 md:w-96"
		/>
		<Image
			src={elipse2}
			alt="star1"
			class="absolute right-0 -top-56 w-16 md:w-96"
		/>
		<div class="mx-auto relative flex flex-col items-center">

			<div class="absolute top-10 w-full z-0">
				<Image src={arco} alt="Arco de valores" class="w-full h-auto object-contain" />
			</div>

			<div class="relative w-full h-[300px] mt-28 z-10 text-[24px] font-medium">
				<span class="absolute top-[190px] left-[5%] md:left-[11%] border-2 border-lila-esco text-lila-esco px-6 py-2 rounded-full bg-white font-bold transition-transform hover:scale-105">COMPROMISO</span>
				<span class="absolute top-[80px] left-[18%] md:left-[18%] border-2 border-lila-esco text-lila-esco px-6 py-2 rounded-full bg-white font-bold transition-transform hover:scale-105">CONFIDENCIALIDAD</span>
				<span class="absolute top-[5px] left-[35%] md:left-[36%] border-2 border-lila-esco text-lila-esco px-6 py-2 rounded-full bg-white font-bold transition-transform hover:scale-105">LEALTAD</span>
				<span class="absolute top-[5px] right-[35%] md:right-[36%] border-2 border-lila-esco text-lila-esco px-6 py-2 rounded-full bg-white font-bold transition-transform hover:scale-105">HONESTIDAD</span>
				<span class="absolute top-[80px] right-[18%] md:right-[22%] border-2 border-lila-esco text-lila-esco px-6 py-2 rounded-full bg-white font-bold transition-transform hover:scale-105">DEDICACIÓN</span>
				<span class="absolute top-[190px] right-[5%] md:right-[10%] border-2 border-lila-esco text-lila-esco px-6 py-2 rounded-full bg-white font-bold transition-transform hover:scale-105">TRABAJO EN EQUIPO</span>
			</div>

			<div class="absolute top-11 right-[350px] z-50 w-96 h-96">
				<Image
					src={estrellita}
					alt="Arco de valores"
					class="absolute top-0 right-0 w-32 h-32"
				/>
			</div>
			<h2 class="md:text-[60px] font-semibold text-lila-esco uppercase text-center mb-16 z-20 -mt-[200px] leading-[60px]">
				Nuestros <br /> Valores
			</h2>
		</div>
	</section>

	<section class="py-20 bg-lila-esco w-full overflow-hidden mt-11" id="servicios">
		<div class="max-w-[1750px] mx-auto px-6">
			<h2 class="text-5xl font-extrabold text-white uppercase text-center mb-16 tracking-wide">
				Servicios
			</h2>
			<div class="flex flex-wrap justify-items-center justify-center -mx-2">
				{servicios.map((servicio) => (
					<div class="border-2 border-white/20 rounded-3xl py-11 px-11 hover:bg-white/5 transition-all w-full max-w-[520px] mx-2 mb-16 relative">

						<!-- Ícono arriba a la izquierda -->
						<div class="absolute -top-8 left-6 border-2 border-white/20 rounded-full px-6 py-3 bg-lila-esco">
							<Image
								src={servicio.icono}
								alt={servicio.titulo}
								class="w-16 h-16 object-contain"
							/>
						</div>

						<!-- Contenido -->
						<div class="mt-10 flex flex-col">
							<h3 class="text-2xl md:text-[24px] font-black text-white uppercase mb-4 leading-tight h-[90px] text-center max-w-[250px] mx-auto">
								{servicio.titulo}
							</h3>

							<ul class="space-y-3">
								{servicio.items.map((item) => (
									<li class="text-white/80 flex text-[20px] items-center gap-2">
										<Image src={se} alt="estrellita servicio" class="w-3 h-3 m-0" /> {item}
									</li>
								))}
							</ul>
						</div>
					</div>
				))}
			</div>
		</div>
	</section>

	<section
		class=" relative h-[410px] w-full overflow-hidden bg-[url('../assets/calculadora.png')]"
	>
		<div class="max-w-[1550px] mx-auto flex flex-row gap-20 items-center h-full relative z-10 font-bold">
			<h2 class="text-6xl md:text-[60px] italic text-lila-esco uppercase leading-tight font-bold">
				¿Por qué <br /> <strong>elegirnos?</strong>
			</h2>

			<div class="flex flex-col w-full gap-3 text-[24px]">
				<p class="font-medium uppercase"><strong>ATENCIÓN</strong> PERSONALIZADA Y CERCANA</p>
				<p class="font-medium uppercase"><strong>INFORMACIÓN</strong> CLARA PARA DECIDIR</p>
				<p class="font-medium uppercase"><strong>ENFOQUE</strong> PREVENTIVO Y ESTRATÉGICO</p>
				<p class="font-medium uppercase"><strong>CUMPLIMIENTO</strong> OPORTUNO DE OBLIGACIONES</p>
				<p class="font-medium uppercase"><strong>HONORARIOS</strong> COMPETITIVOS Y TRANSPARENTES</p>
			</div>

			<div>
				<Image src={check} alt="check" class="w-80 relative -left-[270px] -top-[80px]"/>
			</div>
		</div>
	</section>

	<section class="relative bg-white" id="equipo">
		<div class="w-full flex flex-col lg:flex-row items-center relative">

			<div class="relative w-full lg:w-[50%]">
				<div class="relative w-full aspect-[4/5] overflow-hidden shadow-2xl border-gray-100">



					<Image src={fotoSocio} alt="Salvador R. Maldonado Díaz" class="absolute inset-0 w-full h-full object-cover" />

					<div class="absolute top-40 left-16 z-10">
						<p class="text-white font-bold text-[36px] uppercase italic leading-tight">
							Lic. <br /> Salvador R. <br /> Maldonado <br/> Díaz
						</p>
					</div>



					<div class="absolute bottom-0 w-full py-6 text-center z-10">
						<p class="text-white uppercase text-[40px]">Socio Fundador</p>
					</div>

				</div>
			</div>

			<div class="hidden lg:block absolute left-[51%] top-[100px] -translate-x-1/2 -translate-y-1/2 z-10">
				<Image src={flecha} alt="flecha" class="w-36 h-auto" />
			</div>

			<div class="w-full lg:w-[50%] flex flex-col gap-6 pr-11 pb-[100px] text-[20px] text-lila-esco max-w-[730px] text-justify mx-auto">
				<Image
					src={star3}
					alt="star1"
					class="absolute right-0 -top-44 w-16 md:w-64"
				/>


				Profesional contable con más de tres décadas de experiencia en gestión corporativa de primer nivel en Paraguay. Licenciado en Ciencias Contables por la Universidad Católica de Asunción, con formación de posgrado en Contabilidad y Finanzas, incluyendo un Executive MBA en la Universidad Alfonso X El Sabio (España). Durante 33 años lideró el Departamento Contable, la Gerencia Administrativa y la Gerencia General de la Unidad de Servicios Compartidos del Grupo Rieder & Cía., uno de los grupos empresariales más importantes del país, en los sectores automotriz y de infraestructura eléctrica. Actualmente ejerce como Socio Fundador de ESCO Estudio Contable S.R.L., brindando asesoramiento contable, tributario, financiero y societario a empresas, emprendedores y personas. A lo largo de su carrera se ha desempeñado como Síndico en diversas empresas nacionales, garantizando transparencia y control interno. Es socio activo del Colegio de Contadores del Paraguay. Su visión combina rigor técnico, experiencia corporativa y compromiso con el crecimiento de sus clientes.
			</div>

		</div>
	</section>
	<section class="relative bg-white overflow-hidden">
		<div class="w-full flex flex-col lg:flex-row items-center relative">

			<div class="w-full lg:w-[50%] flex flex-col gap-6 text-[20px]  pb-[100px] text-lila-esco max-w-[635px] text-justify mx-auto">
				<Image
					src={elipse1}
					alt="star1"
					class="absolute left-[0px] top-[500px] w-16 md:w-52 z-50"
				/>
				<Image
					src={elipse1}
					alt="star1"
					class="absolute left-[0px] top-[200px] w-16 md:w-52 z-50"
				/>
				<Image
					src={star3}
					alt="star1"
					class="absolute left-[0px] rotate-180 top-[800px] w-16 md:w-52 z-50 pl-11"
				/>
				Contadora Pública Nacional egresada de la Universidad Nacional de Asunción, con sólida formación en tributación, costos, presupuestos, auditoría, cumplimiento SEPRELAD y liderazgo empresarial. Integra el equipo fundador de ESCO Estudio Contable S.R.L., donde lidera los servicios de contabilidad, liquidación de impuestos y asesoría a empresas y personas en Paraguay. Especializada en el cumplimiento de obligaciones ante la SET, manejo del régimen de IVA, IRE, IRP y normativa tributaria vigente. Su enfoque práctico y orientado al cliente garantiza información clara y oportuna para la toma de decisiones. Combina conocimiento técnico actualizado con una atención personalizada que distingue a ESCO en el mercado. Comprometida con la excelencia profesional y el acompañamiento cercano a cada cliente en todas las etapas de su negocio.
			</div>

			<div class="hidden lg:block absolute left-[49%] top-[100px] -translate-x-1/2 -translate-y-1/2 z-10">
				<Image src={flecha} alt="flecha" class="w-36 h-auto rotate-180" />
			</div>

			<div class="relative w-full lg:w-[50%]">

				<div class="relative w-full aspect-[4/5] overflow-hidden shadow-2xl border-gray-100">
					<Image src={viviana} alt="Viviana R. Maldonado López" class="absolute inset-0 w-full h-full object-cover" />

					<div class="absolute top-40 left-16 z-10">
						<p class="text-white font-bold text-[36px] uppercase italic leading-tight">
							C.P. <br /> Viviana R. <br /> Maldonado <br/> López
						</p>
					</div>

					<div class="absolute bottom-0 w-full py-6 text-center z-10">
						<p class="text-white uppercase text-[40px]">Socia</p>
					</div>
				</div>
			</div>




		</div>
	</section>

	<section class="max-w-[1550px] mx-auto py-24 bg-white" id="contacto">
		<div class=" flex flex-col justify-between lg:flex-row gap-16 items-center">

			<div class="max-w-[443px]">
				<h2 class="text-4xl italic font-bold text-lila-esco mb-4 uppercase">OPTIMIZÁ TUS IMPUESTOS <strong>HOY</strong></h2>
				<p class="text-lila-esco mb-8 text-[20px]">Queremos ser aliados estratégicos en el crecimiento y control financiero de tu empresa.</p>

				<form class="flex flex-col gap-4">
					<input
						type="text"
						placeholder="Nombre y Apellido"
						class="w-full p-4 rounded-full h-[40px] border-2 border-lila-esco focus:outline-none transition-all placeholder:text-lila-esco"
					/>

					<div class="flex gap-4">
						<input
							type="tel"
							placeholder="Tel:"
							class="w-1/2 px-4 h-[40px] text-lila-esco rounded-full border-2 border-lila-esco focus:outline-none transition-all placeholder:text-lila-esco"
						/>
						<input
							type="email"
							placeholder="Email"
							class="w-1/2 p-4  h-[40px] rounded-full border-2 border-lila-esco focus:outline-none transition-all placeholder:text-lila-esco"
						/>
					</div>

					<textarea
						placeholder="Mensaje"
						rows="4"
						class="w-full p-4 rounded-3xl border-2 border-lila-esco focus:outline-none transition-all placeholder:text-lila-esco"
					></textarea>

					<button type="submit" class="bg-lila-esco h-[40px] text-white px-10 rounded-full hover:bg-opacity-90 transition-all w-max text-[20px] shadow-lg leading-none">
						Enviar
					</button>
				</form>
			</div>

			<div class="w-full lg:w-1/2 flex flex-col items-center">
				<h2 class="text-[40px] text-lila-esco mb-6 self-start italic">¡Encontranos <strong>aquí!</strong></h2>

				<div class="relative w-full aspect-[16/10] rounded-3xl overflow-hidden shadow-2xl border-4 border-gray-100 group">
					<Image
						src={mapaGps}
						alt="Ubicación de ESCO Estudio Contable"
						class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
					/>

					<div class="absolute inset-0 bg-black/10 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
						<a href="https://maps.google.com" target="_blank" class="bg-white text-lila-esco px-6 py-2 rounded-full font-bold shadow-xl">
							Abrir en Google Maps
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="bg-[#4a1d4a] py-12 px-6 text-white">
		<div class="marg mx-auto flex flex-col md:flex-row items-center justify-center gap-8 md:gap-16">

			<div class="flex flex-col items-center md:items-end gap-2">
				<Image src={logo} alt="Logo ESCO" class="w-40 h-auto" />
			</div>

			<div class="hidden md:block h-20 w-px bg-white/30"></div>

			<div class="flex flex-col items-center md:items-start gap-1 text-center md:text-left text-sm md:text-base">
				<p class="font-bold">0972 249 373</p>
				<p>viviana.maldonado@esco.com.py</p>
				<p class="max-w-[250px]">Las Palmas Nº 1045 entre Avambaré y Guarambaré – LAMBARÉ, Paraguay</p>
			</div>

		</div>
	</footer>
</Layout>
